<!-- your html code here -->
<p>Hello, I'm the first_heading.html</p>

<div class="clearfix">
    <div class="col">
        <h1>This First Heading Will Catch Your Eye</h1>
        <p>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibullum id liogula porta felis euismod semper. Present commodo cursus magna, vel scelerisque nisi consectetur. Fuse dapibus, tellus ac cursus commodo.
        </p>
    </div>
    <div class="col">
        <img src="/website/assets/img/1.jpg" class="rounded-circle img-fluid" alt="photo">
    </div>
  </div>